.hidden {
  font-size: 1px;
  color: #fff;
}

.portfolio-navigation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}

.but-activ {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-navigation:hover,
.portfolio-navigation:focus {
  background-color: #2196f3;
  color: #fff;
}
/* ----------section---------- */
.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.list2-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ----------footer---------- */
.footer-address {
  font-style: normal;
}
